<!DOCTYPE html>
<html>
<head>
    <title>{{ pageTitle }}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/public/assets/style.css" type="text/css" media="screen" />
</head>
<body>
<section id="content" class="container">
