@import url(bootstrap/css/bootstrap.min.css);
@import url(bootcomplete.css);
@import url(font-awesome/css/font-awesome.min.css);

:focus {
    outline-style: none;
}

#users {
  padding: 0;
  margin: 5% 0 3em 0;
  list-style: none;
  text-align: center;
}

#users li {
  display: inline-block;
  margin: 0 0.5em;
  text-transform: capitalize;
}

#search {
  text-align: center;
}
